<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">
          <i class="fa fa-home">
            <span>
              Trang Chủ
            </span>
          </i>
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/muster' ? 'active' : '' %>" href="/muster">
          <i class="fa fa-id-card">
            <span>
              Điểm Danh
            </span>
          </i>
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/staff-info' ? 'active' : '' %>" href="/staff-info">
          <i class="fa fa-user">
            <span>
              Thông Tin Cá Nhân
            </span>
          </i>
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/work-info' ? 'active' : '' %>" href="/work-info">
          <i class="fa fa-calendar">
            <span>
              Thông Tin Giờ Làm
            </span>
          </i>
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/covid-info' ? 'active' : '' %>" href="/covid-info">
          <i class="fa fa-fonticons">
            <span>
              Thông Tin Covid Cá Nhân
            </span>
          </i>
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/add-staff' ? 'active' : '' %>" href="/add-staff">
          <i class="fa fa-tasks">
            <span>
              Thêm Nhân Viên
            </span>
          </i>
        </a>
      </li>

    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">
        <i class="fa fa-home">
          <span>
            Trang Chủ
          </span>
        </i>
      </a>
    </li>

    <li class="mobile-nav__item">
      <a class="<%= path === '/muster' ? 'active' : '' %>" href="/muster">
        <i class="fa fa-id-card">
          <span>
            Điểm Danh
          </span>
        </i>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/staff-info' ? 'active' : '' %>" href="/staff-info">
        <i class="fa fa-user">
          <span>
            Thông Tin Cá Nhân
          </span>
        </i>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/work-info' ? 'active' : '' %>" href="/work-info">
        <i class="fa fa-calendar">
          <span>
            Thông Tin Giờ Làm
          </span>
        </i>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/covid-info' ? 'active' : '' %>" href="/covid-info">
        <i class="fa fa-fonticons">
          <span>
            Thông Tin Covid Cá Nhân
          </span>
        </i>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/add-staff' ? 'active' : '' %>" href="/add-staff">
        <i class="fa fa-tasks">
          <span>
            Thêm Nhân Viên
          </span>
        </i>
      </a>
    </li>

  </ul>
</nav>